<a class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{book.name}}</h4>
    <h5 class="list-group-item-text">{{book.author}}</h5>
    <h5 class="list-group-item-text">{{book.language}}</h5>
    <h5 class="list-group-item-text">{{book.pageCount}}</h5>
    <h5 class="list-group-item-text">{{book.genre}}</h5>
  </div>
  <span class="pull-right">
<!--        <img src="{{book.imagePath}}" class="img-responsive" style="max-height: 50px;" alt="">-->
  </span>
</a>
