<ngx-audio-player [autoPlay]="false" muted="muted"
                  [playlist]="mssapPlaylist"
                  [disablePositionSlider]="mssapDisablePositionSlider"
                  [displayRepeatControls]="mssapDisplayRepeatControls"
                  [displayVolumeControls]="mssapDisplayVolumeControls"
                  [displayVolumeSlider]="mssapDisplayVolumeSlider"
                  [displayTitle]="mssapDisplayTitle"
                  [displayArtist]="msaapDisplayArtist"
                  [displayDuration]="msaapDisplayDuration"
>
</ngx-audio-player>
